
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #28282b;
    overflow: hidden !important;
}

button{
    font: 14px system-ui, sans-serif;
    padding: 0.6rem 1rem;
    background: #f7f7f9;
    border: 0;
    color: #000000;
    cursor: pointer;
    transition: background-color .15s;
}

button:hover:not(:disabled) {
    background: #e6ebfd;
}

button:active:not(:disabled) {
    background: #e7e7e9;
}

button:disabled {
    background: #9a9a9b;
    cursor: not-allowed;
}


:root {
    /* Severity colors */
    --color-parseerror: #ff0000;
    --color-structuralerror: #ff5810; 
    --color-error: #ff4800; 
    --color-warning: #e6d03a; 

    /* Background tint for severe cases */
    --tint-severe: rgba(255, 0, 0, 0.05); /* light red tint */}

/* --- Parse Error --- */
.parseerror {
    background-color: var(--tint-severe) !important;
}
.parseerror.htCommentCell::after {
    border-top-color: var(--color-parseerror) !important;
}
.parseerror .errorText {
    color: var(--color-parseerror) !important;
    font-weight: 700 !important;
}

/* --- Structural Error --- */
.structuralerror .errorText.emptycell{
    background: var(--color-structuralerror) !important;
}
.structuralerror.htCommentCell::after {
    border-top-color: var(--color-structuralerror) !important;
}
.structuralerror .errorText {
    color: var(--color-structuralerror) !important;
    font-weight: 650 !important;
}


/* --- Error --- */
.error.htCommentCell::after {
    border-top-color: var(--color-error) !important;
}
.error .errorText {
    color: var(--color-error) !important;
    font-weight: 600 !important;
}

/* --- Warning --- */
.warning.htCommentCell::after {
    border-top-color: var(--color-warning) !important;
}
.warning .errorText {
    color: var(--color-warning) !important;
    font-weight: 510 !important;
}


.salix-alien {
    background-color: #0f0f10 !important;
}
#hltx{
    -webkit-appearance: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
}
.htCommentTextArea {
    pointer-events: none;
    user-select: none;
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

.hot-wrapper{
    height:100%;
    overflow: hidden !important;
    position: relative !important;
}

.salix-alien{
    overflow:auto !important;
    height: calc(100% - 4em) !important;
}
.wtHolder{
    overflow-anchor: none !important;
}